<aside class="sidebar">

    <div class="logo">

        <div class="logo-icon">

            <i class="bi bi-car-front-fill"></i>

        </div>

        <div>

            <h4>AutoParts</h4>

            <small>ERP</small>

        </div>

    </div>

    <nav>

        <a asp-controller="Dashboard" asp-action="Index">

            <i class="bi bi-speedometer2"></i>

            Dashboard

        </a>

        <span>Cadastros</span>

        <a asp-controller="Produto" asp-action="Index">

            <i class="bi bi-box-seam"></i>

            Produtos

        </a>

        <a>

            <i class="bi bi-tags"></i>

            Categorias

        </a>

        <a>

            <i class="bi bi-building"></i>

            Fornecedores

        </a>

        <a>

            <i class="bi bi-people"></i>

            Clientes

        </a>

        <span>Operações</span>

        <a>

            <i class="bi bi-cart"></i>

            Vendas

        </a>

        <a>

            <i class="bi bi-box"></i>

            Estoque

        </a>

        <span>Financeiro</span>

        <a>

            <i class="bi bi-cash-stack"></i>

            Financeiro

        </a>

    </nav>

</aside>