<header class="topbar">

    <button id="toggleSidebar"
            class="btn btn-light">

        <i class="bi bi-list"></i>

    </button>

    <div class="search-box">

        <i class="bi bi-search"></i>

        <input type="text"
               placeholder="Pesquisar...">

    </div>

    <div class="topbar-right">

        <button class="btn-icon">

            <i class="bi bi-bell"></i>

        </button>

        <button class="btn-icon">

            <i class="bi bi-moon"></i>

        </button>

        <div class="user">

            <img src="https://i.pravatar.cc/45" />

            <div>

                <strong>Administrador</strong>

                <small>Online</small>

            </div>

        </div>

    </div>

</header>