@model AutoParts.ViewModels.ProdutoFormViewModel

@{
    ViewData["Title"] = "Editar Produto";
}

<partial name="_ProdutoToolbar" />

<form asp-action="Edit" method="post">

    <input asp-for="Id" hidden />

    <partial name="_ProdutoForm" model="Model" />

</form>